In [36]:
cd C:\Users\kvnzh\Desktop\Basketball

C:\Users\kvnzh\Desktop\Basketball

In [4]:
from requests import get
from bs4 import BeautifulSoup
from time import sleep
import pandas as pd
from numpy import cos, sin, arcsin, sqrt
from math import radians
from datetime import *

In [317]:
list_teams = ['ATL','BOS','BRK','CHI','CHO','CLE','DAL','DEN','DET','GSW','HOU','IND','LAC','LAL','MEM','MIA','MIL','MIN',
              'NOP','NYK','OKC','ORL','PHI','PHO','POR','SAC','SAS','TOR','UTA','WAS','NJN','NYA','NOH','NOK','CHA','CHH',
              'SEA','VAN','DNA','INA','SDC','BUF','KCK','KCO','SAA','NOJ','CAP','WSB']

team_mapping = {'ATL':'Atlanta Hawks',
                'BRK':'Brooklyn Nets',
                'BOS':'Boston Celtics',
                'CHO':'Charlotte Hornets',
                'CHI':'Chicago Bulls',
                'CLE':'Cleveland Cavaliers',
                'DAL':'Dallas Mavericks',
                'DEN':'Denver Nuggets',
                'DET':'Detroit Pistons',
                'GSW':'Golden State Warriors',
                'HOU':'Houston Rockets',
                'IND':'Indiana Pacers',
                'LAC':'Los Angeles Clippers',
                'LAL':'Los Angeles Lakers',
                'MEM':'Memphis Grizzlies',
                'MIA':'Miami Heat',
                'MIL':'Milwaukee Bucks',
                'MIN':'Minnesota Timberwolves',
                'NOP':'New Orleans Pelicans',
                'NYK':'New York Knicks',
                'OKC':'Oklahoma City Thunder',
                'ORL':'Orlando Magic',
                'PHI':'Philadelphia 76ers',
                'PHO':'Phoenix Suns',
                'POR':'Portland Trail Blazers',
                'SAC':'Sacramento Kings',
                'SAS':'San Antonio Spurs',
                'TOR':'Toronto Raptors',
                'UTA':'Utah Jazz',
                'WAS':'Washington Wizards'}

Geolocation = {'Philadelphia 76ers':[39.952583,-75.165222],
               'Oklahoma City Thunder':[35.467560,-97.516426],
               'Milwaukee Bucks':[43.038902,-87.906471],
               'Brooklyn Nets':[40.678177,-73.944160],
               'Memphis Grizzlies':[35.149532,-90.048981],
               'Miami Heat':[25.7741728,-80.19362],
               'Atlanta Hawks':[33.7489924,-84.3902644],
               'Cleveland Cavaliers':[41.5051613,-81.6934446],
               'New Orleans Pelicans':[29.9499323,-90.0701156],
               'Minnesota Timberwolves':[44.9788262,-93.274851],
               'Utah Jazz':[40.6593864,-111.8650787],
               'Denver Nuggets':[39.7392364,-104.9848623],
               'Dallas Mavericks':[32.7762719,-96.7968559],
               'Chicago Bulls':[41.8810409,-87.6711385],
               'Los Angeles Lakers':[34.0536909,-118.242766],
               'Los Angeles Clippers':[34.0536909,-118.242766],
               'Charlotte Hornets':[35.2272086,-80.8430827],
               'New York Knicks':[40.75054931640625,-73.99356079101562],
               'Sacramento Kings':[38.5810606,-121.4938951],
               'Boston Celtics':[42.3602534,-71.0582912],
               'Indiana Pacers':[39.7683331,-86.1583502],
               'Golden State Warriors':[37.8044557,-122.2713563],
               'Toronto Raptors':[43.6534817,-79.3839347],
               'Orlando Magic':[28.5421109,-81.3790304],
               'Detroit Pistons':[42.3315509,-83.0466403],
               'Phoenix Suns':[33.4484367,-112.0741417],
               'San Antonio Spurs':[29.4246002,-98.4951405],
               'Houston Rockets':[29.7589382,-95.3676974],
               'Washington Wizards':[38.8950368,-77.0365427],
               'Portland Trail Blazers':[45.5202471,-122.6741949]}

df = pd.DataFrame()
beg_year = int(input('What beg year: '))
end_year = int(input('What end year: '))

What beg year: 2018
What end year: 2019

# Scrape Data From BballReference

In [319]:
#BeautifulSoup
for year in range(beg_year, end_year + 1):
    for team in list_teams:
        try:
            r = get(f'https://widgets.sports-reference.com/wg.fcgi?css=1&site=bbr&url=%2Fteams%2F{team}%2F{year}_games.html&div=div_games')
            if r.status_code==200:
                soup = BeautifulSoup(r.content, 'html.parser')
                table = soup.find('table')
            df2 = pd.read_html(str(table))[0]
            df2 = df2.assign(Year = year,Team = team)
            df = pd.concat([df,df2])
            sleep(3)
        except:
            pass
df

,G,Date,Start (ET),Unnamed: 3,Unnamed: 4,Unnamed: 5,Opponent,Unnamed: 7,Unnamed: 8,Tm,Opp,W,L,Streak,Notes,Year,Team
0,1,"Wed, Oct 18, 2017",8:30p,NaN,Box Score,@,Dallas Mavericks,W,NaN,117,111,1,0,W 1,NaN,2018,ATL
1,2,"Fri, Oct 20, 2017",7:00p,NaN,Box Score,@,Charlotte Hornets,L,NaN,91,109,1,1,L 1,NaN,2018,ATL
2,3,"Sun, Oct 22, 2017",3:30p,NaN,Box Score,@,Brooklyn Nets,L,NaN,104,116,1,2,L 2,NaN,2018,ATL
3,4,"Mon, Oct 23, 2017",7:30p,NaN,Box Score,@,Miami Heat,L,NaN,93,104,1,3,L 3,NaN,2018,ATL
4,5,"Thu, Oct 26, 2017",8:00p,NaN,Box Score,@,Chicago Bulls,L,NaN,86,91,1,4,L 4,NaN,2018,ATL
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
81,79,"Wed, Apr 3, 2019",7:00p,NaN,Box Score,NaN,Chicago Bulls,L,NaN,114,115,32,47,L 1,NaN,2019,WAS
82,80,"Fri, Apr 5, 2019",7:00p,NaN,Box Score,NaN,San Antonio Spurs,L,NaN,112,129,32,48,L 2,NaN,2019,WAS
83,G,Date,Start (ET),NaN,NaN,NaN,Opponent,NaN,NaN,Tm,Opp,W,L,Streak,Notes,2019,WAS
84,81,"Sun, Apr 7, 2019",7:30p,NaN,Box Score,@,New York Knicks,L,NaN,110,113,32,49,L 3,NaN,2019,WAS
85,82,"Tue, Apr 9, 2019",7:00p,NaN,Box Score,NaN,Boston Celtics,L,NaN,110,116,32,50,L 4,NaN,2019,WAS

In [320]:
#drop columns
df = df.drop(columns = ['Unnamed: 7','Unnamed: 8','G','Unnamed: 3','Unnamed: 4','W','L','Streak','Notes'])

In [321]:
#rename columns
df = df.rename(columns={'Tm':'TeamPts','Opp':'OppPts','Unnamed: 5':'Away?'})

In [322]:
#bring in team name
df['TeamName'] = df['Team'].map(team_mapping)
df['TeamName'].unique()

array(['Atlanta Hawks', 'Boston Celtics', 'Brooklyn Nets',
       'Chicago Bulls', 'Charlotte Hornets', 'Cleveland Cavaliers',
       'Dallas Mavericks', 'Denver Nuggets', 'Detroit Pistons',
       'Golden State Warriors', 'Houston Rockets', 'Indiana Pacers',
       'Los Angeles Clippers', 'Los Angeles Lakers', 'Memphis Grizzlies',
       'Miami Heat', 'Milwaukee Bucks', 'Minnesota Timberwolves',
       'New Orleans Pelicans', 'New York Knicks', 'Oklahoma City Thunder',
       'Orlando Magic', 'Philadelphia 76ers', 'Phoenix Suns',
       'Portland Trail Blazers', 'Sacramento Kings', 'San Antonio Spurs',
       'Toronto Raptors', 'Utah Jazz', 'Washington Wizards'], dtype=object)

# Bring in current location

In [323]:
#Mapping function
def location_mapping(row):
    if row['Away?'] == '@':
        x = Geolocation[row['Opponent']]
    else:
        x = Geolocation[row['TeamName']]
    return x

In [324]:
#clean up dtypes
df['Opponent'].astype(str)
df['TeamName'].astype(str)

0          Atlanta Hawks
1          Atlanta Hawks
2          Atlanta Hawks
3          Atlanta Hawks
4          Atlanta Hawks
             ...
81    Washington Wizards
82    Washington Wizards
83    Washington Wizards
84    Washington Wizards
85    Washington Wizards
Name: TeamName, Length: 10320, dtype: object

In [325]:
df['Location'] = df.apply(location_mapping, axis=1)

In [326]:
df = df[df['Date'] != 'Date']

In [327]:
df['PreviousLocation'] = df['Location'].shift()

,Date,Start (ET),Away?,Opponent,TeamPts,OppPts,Year,Team,TeamName,Location,PreviousLocation
0,"Wed, Oct 18, 2017",8:30p,@,Dallas Mavericks,117,111,2018,ATL,Atlanta Hawks,"[32.7762719, -96.7968559]",NaN
1,"Fri, Oct 20, 2017",7:00p,@,Charlotte Hornets,91,109,2018,ATL,Atlanta Hawks,"[35.2272086, -80.8430827]","[32.7762719, -96.7968559]"
2,"Sun, Oct 22, 2017",3:30p,@,Brooklyn Nets,104,116,2018,ATL,Atlanta Hawks,"[40.678177, -73.94416]","[35.2272086, -80.8430827]"
3,"Mon, Oct 23, 2017",7:30p,@,Miami Heat,93,104,2018,ATL,Atlanta Hawks,"[25.7741728, -80.19362]","[40.678177, -73.94416]"
4,"Thu, Oct 26, 2017",8:00p,@,Chicago Bulls,86,91,2018,ATL,Atlanta Hawks,"[41.8810409, -87.6711385]","[25.7741728, -80.19362]"
...,...,...,...,...,...,...,...,...,...,...,...
80,"Sun, Mar 31, 2019",8:00p,@,Denver Nuggets,95,90,2019,WAS,Washington Wizards,"[39.7392364, -104.9848623]","[40.6593864, -111.8650787]"
81,"Wed, Apr 3, 2019",7:00p,NaN,Chicago Bulls,114,115,2019,WAS,Washington Wizards,"[38.8950368, -77.0365427]","[39.7392364, -104.9848623]"
82,"Fri, Apr 5, 2019",7:00p,NaN,San Antonio Spurs,112,129,2019,WAS,Washington Wizards,"[38.8950368, -77.0365427]","[38.8950368, -77.0365427]"
84,"Sun, Apr 7, 2019",7:30p,@,New York Knicks,110,113,2019,WAS,Washington Wizards,"[40.75054931640625, -73.99356079101562]","[38.8950368, -77.0365427]"
85,"Tue, Apr 9, 2019",7:00p,NaN,Boston Celtics,110,116,2019,WAS,Washington Wizards,"[38.8950368, -77.0365427]","[40.75054931640625, -73.99356079101562]"

# Calculate Distance

In [328]:
df[['StartLat', 'StartLon']] = df['PreviousLocation'].apply(pd.Series)
df[['EndLat', 'EndLon']] = df['Location'].apply(pd.Series)

In [329]:
def haversine(row):
    lon1 = row['StartLon']
    lat1 = row['StartLat']
    lon2 = row['EndLon']
    lat2 = row['EndLat']
    lon1, lat1, lon2, lat2 = map(radians, [lon1, lat1, lon2, lat2])
    dlon = lon2 - lon1 
    dlat = lat2 - lat1 
    a = sin(dlat/2)**2 + cos(lat1) * cos(lat2) * sin(dlon/2)**2
    c = 2 * arcsin(sqrt(a)) 
    km = 6367 * c
    return km

In [330]:
df['DistanceFromPrevious'] = df.apply(lambda row: haversine(row), axis=1)
df

,Date,Start (ET),Away?,Opponent,TeamPts,OppPts,Year,Team,TeamName,Location,PreviousLocation,StartLat,StartLon,EndLat,EndLon,DistanceFromPrevious
0,"Wed, Oct 18, 2017",8:30p,@,Dallas Mavericks,117,111,2018,ATL,Atlanta Hawks,"[32.7762719, -96.7968559]",NaN,NaN,NaN,32.776272,-96.796856,NaN
1,"Fri, Oct 20, 2017",7:00p,@,Charlotte Hornets,91,109,2018,ATL,Atlanta Hawks,"[35.2272086, -80.8430827]","[32.7762719, -96.7968559]",32.776272,-96.796856,35.227209,-80.843083,1493.035851
2,"Sun, Oct 22, 2017",3:30p,@,Brooklyn Nets,104,116,2018,ATL,Atlanta Hawks,"[40.678177, -73.94416]","[35.2272086, -80.8430827]",35.227209,-80.843083,40.678177,-73.944160,855.225043
3,"Mon, Oct 23, 2017",7:30p,@,Miami Heat,93,104,2018,ATL,Atlanta Hawks,"[25.7741728, -80.19362]","[40.678177, -73.94416]",40.678177,-73.944160,25.774173,-80.193620,1753.865770
4,"Thu, Oct 26, 2017",8:00p,@,Chicago Bulls,86,91,2018,ATL,Atlanta Hawks,"[41.8810409, -87.6711385]","[25.7741728, -80.19362]",25.774173,-80.193620,41.881041,-87.671138,1916.385380
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
80,"Sun, Mar 31, 2019",8:00p,@,Denver Nuggets,95,90,2019,WAS,Washington Wizards,"[39.7392364, -104.9848623]","[40.6593864, -111.8650787]",40.659386,-111.865079,39.739236,-104.984862,592.698314
81,"Wed, Apr 3, 2019",7:00p,NaN,Chicago Bulls,114,115,2019,WAS,Washington Wizards,"[38.8950368, -77.0365427]","[39.7392364, -104.9848623]",39.739236,-104.984862,38.895037,-77.036543,2394.856637
82,"Fri, Apr 5, 2019",7:00p,NaN,San Antonio Spurs,112,129,2019,WAS,Washington Wizards,"[38.8950368, -77.0365427]","[38.8950368, -77.0365427]",38.895037,-77.036543,38.895037,-77.036543,0.000000
84,"Sun, Apr 7, 2019",7:30p,@,New York Knicks,110,113,2019,WAS,Washington Wizards,"[40.75054931640625, -73.99356079101562]","[38.8950368, -77.0365427]",38.895037,-77.036543,40.750549,-73.993561,331.573075
85,"Tue, Apr 9, 2019",7:00p,NaN,Boston Celtics,110,116,2019,WAS,Washington Wizards,"[38.8950368, -77.0365427]","[40.75054931640625, -73.99356079101562]",40.750549,-73.993561,38.895037,-77.036543,331.573075

In [331]:
#remove temp columns
df = df.drop(columns = ['StartLat','StartLon','EndLat','EndLon'])

# Converting to datetime

In [332]:
#Temporary for datetime
df[['DOW', 'Date']] = df['Date'].str.split(' ', 1, expand=True)
df[['Month','Rest']] = df['Date'].str.split(' ', 1, expand=True)
df[['Day','Year']] = df['Rest'].str.split(',', 1, expand=True)
df

,Date,Start (ET),Away?,Opponent,TeamPts,OppPts,Year,Team,TeamName,Location,PreviousLocation,DistanceFromPrevious,DOW,Month,Rest,Day
0,"Oct 18, 2017",8:30p,@,Dallas Mavericks,117,111,2017,ATL,Atlanta Hawks,"[32.7762719, -96.7968559]",NaN,NaN,"Wed,",Oct,"18, 2017",18
1,"Oct 20, 2017",7:00p,@,Charlotte Hornets,91,109,2017,ATL,Atlanta Hawks,"[35.2272086, -80.8430827]","[32.7762719, -96.7968559]",1493.035851,"Fri,",Oct,"20, 2017",20
2,"Oct 22, 2017",3:30p,@,Brooklyn Nets,104,116,2017,ATL,Atlanta Hawks,"[40.678177, -73.94416]","[35.2272086, -80.8430827]",855.225043,"Sun,",Oct,"22, 2017",22
3,"Oct 23, 2017",7:30p,@,Miami Heat,93,104,2017,ATL,Atlanta Hawks,"[25.7741728, -80.19362]","[40.678177, -73.94416]",1753.865770,"Mon,",Oct,"23, 2017",23
4,"Oct 26, 2017",8:00p,@,Chicago Bulls,86,91,2017,ATL,Atlanta Hawks,"[41.8810409, -87.6711385]","[25.7741728, -80.19362]",1916.385380,"Thu,",Oct,"26, 2017",26
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
80,"Mar 31, 2019",8:00p,@,Denver Nuggets,95,90,2019,WAS,Washington Wizards,"[39.7392364, -104.9848623]","[40.6593864, -111.8650787]",592.698314,"Sun,",Mar,"31, 2019",31
81,"Apr 3, 2019",7:00p,NaN,Chicago Bulls,114,115,2019,WAS,Washington Wizards,"[38.8950368, -77.0365427]","[39.7392364, -104.9848623]",2394.856637,"Wed,",Apr,"3, 2019",3
82,"Apr 5, 2019",7:00p,NaN,San Antonio Spurs,112,129,2019,WAS,Washington Wizards,"[38.8950368, -77.0365427]","[38.8950368, -77.0365427]",0.000000,"Fri,",Apr,"5, 2019",5
84,"Apr 7, 2019",7:30p,@,New York Knicks,110,113,2019,WAS,Washington Wizards,"[40.75054931640625, -73.99356079101562]","[38.8950368, -77.0365427]",331.573075,"Sun,",Apr,"7, 2019",7
85,"Apr 9, 2019",7:00p,NaN,Boston Celtics,110,116,2019,WAS,Washington Wizards,"[38.8950368, -77.0365427]","[40.75054931640625, -73.99356079101562]",331.573075,"Tue,",Apr,"9, 2019",9

In [333]:
#Fix naming error
df = df.drop(columns = ['Rest','DOW'])

In [334]:
Month_conversion = {'Oct':'10','Nov':'11','Dec':'12','Jan':'01','Feb':'02','Mar':'03','Apr':'04','May':'05','Jun':'06'}
df['Mon']=df['Month'].map(Month_conversion)

In [335]:
df['Year'] = df['Year'].astype('int32')
df['Day'] = df['Day'].astype('int32')
df['Mon'] = df['Mon'].astype('int32')

In [336]:
df['Datetime'] = pd.to_datetime(df.Year*10000+df.Mon*100+df.Day,format='%Y%m%d')

In [337]:
#drop temp columns
df = df.drop(columns = ['Month','Day','Mon','Year','Date'])

In [338]:
#convert hours to 24 hr format
df['Start (ET)'] = pd.to_datetime(df['Start (ET)']).dt.strftime('%H:%M:%S')

In [339]:
# merge date and hours
df['Datetime'] +=  pd.to_timedelta(df['Start (ET)'])

# Find Difference in Time

In [340]:
#1 day = 86400 seconds
df['DaysBetweenGames'] = (df['Datetime'] - df['Datetime'].shift()).dt.total_seconds() / 86400

# Final Cleanup

In [342]:
#Ensure teams don't reference one another
df.loc[(df['TeamName'] != df['TeamName'].shift()),'PreviousLocation']=''
df = df[df['PreviousLocation'] != '']

In [348]:
#change datatype
df['TeamPts'] = df['TeamPts'].astype('float64')
df['OppPts'] = df['OppPts'].astype('float64')

<ipython-input-348-f58ca2cde5da>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['TeamPts'] = df['TeamPts'].astype('float64')
<ipython-input-348-f58ca2cde5da>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['OppPts'] = df['OppPts'].astype('float64')

In [353]:
df.to_csv('examine2.csv')

# Bringing in averages

In [349]:
AveragePPG = df.groupby('TeamName', as_index=False)['TeamPts'].mean()
AveragePPG.rename(columns = {'TeamPts':'SeasonAveragePPG'},inplace='true')

In [350]:
df=pd.merge(df,AveragePPG)
df

,Start (ET),Away?,Opponent,TeamPts,OppPts,Team,TeamName,Location,PreviousLocation,DistanceFromPrevious,Datetime,DaysBetweenGames,SeasonAveragePPG
0,19:00:00,@,Charlotte Hornets,91.0,109.0,ATL,Atlanta Hawks,"[35.2272086, -80.8430827]","[32.7762719, -96.7968559]",1493.035851,2017-10-20 19:00:00,1.937500,108.302469
1,15:30:00,@,Brooklyn Nets,104.0,116.0,ATL,Atlanta Hawks,"[40.678177, -73.94416]","[35.2272086, -80.8430827]",855.225043,2017-10-22 15:30:00,1.854167,108.302469
2,19:30:00,@,Miami Heat,93.0,104.0,ATL,Atlanta Hawks,"[25.7741728, -80.19362]","[40.678177, -73.94416]",1753.865770,2017-10-23 19:30:00,1.166667,108.302469
3,20:00:00,@,Chicago Bulls,86.0,91.0,ATL,Atlanta Hawks,"[41.8810409, -87.6711385]","[25.7741728, -80.19362]",1916.385380,2017-10-26 20:00:00,3.020833,108.302469
4,19:30:00,NaN,Denver Nuggets,100.0,105.0,ATL,Atlanta Hawks,"[33.7489924, -84.3902644]","[41.8810409, -87.6711385]",948.253647,2017-10-27 19:30:00,0.979167,108.302469
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9715,20:00:00,@,Denver Nuggets,95.0,90.0,WAS,Washington Wizards,"[39.7392364, -104.9848623]","[40.6593864, -111.8650787]",592.698314,2019-03-31 20:00:00,1.958333,110.246914
9716,19:00:00,NaN,Chicago Bulls,114.0,115.0,WAS,Washington Wizards,"[38.8950368, -77.0365427]","[39.7392364, -104.9848623]",2394.856637,2019-04-03 19:00:00,2.958333,110.246914
9717,19:00:00,NaN,San Antonio Spurs,112.0,129.0,WAS,Washington Wizards,"[38.8950368, -77.0365427]","[38.8950368, -77.0365427]",0.000000,2019-04-05 19:00:00,2.000000,110.246914
9718,19:30:00,@,New York Knicks,110.0,113.0,WAS,Washington Wizards,"[40.75054931640625, -73.99356079101562]","[38.8950368, -77.0365427]",331.573075,2019-04-07 19:30:00,2.020833,110.246914
9719,19:00:00,NaN,Boston Celtics,110.0,116.0,WAS,Washington Wizards,"[38.8950368, -77.0365427]","[40.75054931640625, -73.99356079101562]",331.573075,2019-04-09 19:00:00,1.979167,110.246914

In [351]:
#Points above average
df['PTSoverAVG'] = df['TeamPts'] - df['SeasonAveragePPG']

In [371]:
#Drop duplicates
df = df.drop_duplicates(subset=['Opponent','Team','TeamPts','OppPts','Datetime'])

In [361]:
df.to_csv('CleanedUpData.csv')